<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dbop.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.dbop.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.dbop.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersManage</servlet-name>
    <servlet-class>com.dbop.servlets.UsersManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersManage</servlet-name>
    <url-pattern>/usersManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>com.dbop.servlets.UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEdit</servlet-name>
    <servlet-class>com.dbop.servlets.UserEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEdit</servlet-name>
    <url-pattern>/userEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserView</servlet-name>
    <servlet-class>com.dbop.servlets.UserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserView</servlet-name>
    <url-pattern>/userView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditProcess</servlet-name>
    <servlet-class>com.dbop.servlets.UserEditProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditProcess</servlet-name>
    <url-pattern>/userEditProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAddProcess</servlet-name>
    <servlet-class>com.dbop.servlets.UserAddProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddProcess</servlet-name>
    <url-pattern>/userAddProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>com.dbop.servlets.UserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/userDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessTextServlet</servlet-name>
    <servlet-class>com.dbop.servlets.ProcessTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTextServlet</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TablespaceAdd</servlet-name>
    <servlet-class>com.dbop.servlets.TablespaceAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespaceAdd</servlet-name>
    <url-pattern>/tablespaceAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TablespaceAddProcess</servlet-name>
    <servlet-class>com.dbop.servlets.TablespaceAddProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespaceAddProcess</servlet-name>
    <url-pattern>/tablespaceAddProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TablespaceView</servlet-name>
    <servlet-class>com.dbop.servlets.TablespaceView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespaceView</servlet-name>
    <url-pattern>/tablespaceView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TablespacesUndoManage</servlet-name>
    <servlet-class>com.dbop.servlets.TablespacesUndoManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespacesUndoManage</servlet-name>
    <url-pattern>/tablespacesUndoManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TablespacesManage</servlet-name>
    <servlet-class>com.dbop.servlets.TablespacesManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespacesManage</servlet-name>
    <url-pattern>/tablespacesManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryManage</servlet-name>
    <servlet-class>com.dbop.servlets.QueryManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryManage</servlet-name>
    <url-pattern>/queryManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryProcess</servlet-name>
    <servlet-class>com.dbop.servlets.QueryProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProcess</servlet-name>
    <url-pattern>/queryProcess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TablespaceDeleteFile</servlet-name>
    <servlet-class>com.dbop.servlets.TablespaceDeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespaceDeleteFile</servlet-name>
    <url-pattern>/tablespaceDeleteFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TablespaceEditFile</servlet-name>
    <servlet-class>com.dbop.servlets.TablespaceEditFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespaceEditFile</servlet-name>
    <url-pattern>/tablespaceEditFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TablespaceEditFileProcess</servlet-name>
    <servlet-class>com.dbop.servlets.TablespaceEditFileProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablespaceEditFileProcess</servlet-name>
    <url-pattern>/TablespaceEditFileProcess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RedoLogfilesManage</servlet-name>
    <servlet-class>com.dbop.servlets.RedoLogfilesManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedoLogfilesManage</servlet-name>
    <url-pattern>/redoManage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RedoLogfilesGroupAdd</servlet-name>
    <servlet-class>com.dbop.servlets.RedoLogfilesGroupAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedoLogfilesGroupAdd</servlet-name>
    <url-pattern>/redoLogfilesGroupAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RedoLogfilesMemberAdd</servlet-name>
    <servlet-class>com.dbop.servlets.RedoLogfilesMemberAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedoLogfilesMemberAdd</servlet-name>
    <url-pattern>/redoLogfilesMemberAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UndoTablespaceAdd</servlet-name>
    <servlet-class>com.dbop.servlets.UndoTablespaceAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UndoTablespaceAdd</servlet-name>
    <url-pattern>/undoTablespaceAdd</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>